nav {
    /* background-color: #333; */
    color: #000000;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items:stretch;
    padding: 10px;
    position: relative;
  }
  
  nav img {
    position: absolute;
    left: 20px;
    top: 60%;
    flex-grow: 2;
    transform: translateY(-50%);
    height: 45px;
  } 

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0px;
    flex-grow: 8;
    justify-content: flex-end; /*Move navigation elements to the right */
  }

  nav ul li.connect {
    /* ... */
    /* margin-left: auto; */
    /* right: -525px; */
    justify-items: flex-end;
  }
  nav ul li.element {
    /* ... */
    /* margin-left: auto; */
    margin-top: 0.6%;
    justify-items: flex-end;
    background-color: transparent;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    border-radius:7px;
    padding: 8px 3px;
    
    /* justify-content: flex-end; */
  }

  nav ul li.connect a {
    /* ... */
    background-color: #48BB78;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  nav ul li {
    margin: 10px 20px;
    position: relative;
  }
  
  nav ul li a {
    color: #fff;


    
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #333;
  }

  nav ul li.element:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(50% + -52px);
    transform: translateY(-50%);
    background-image: url('/public/img/needle-and-thread.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    opacity: 0;
    pointer-events: none;
  }
  
  nav ul li.element:hover::before {
    opacity: 1;
  transform: translateY(-50%) translateX(-5px);
  z-index: 1; /* Set a negative z-index to position the pseudo-element behind the nav item */
  }

  nav ul li.connect {
    position: relative;
  }
  
  nav ul li.connect .connect-block {
    position: absolute;
    left: -60%;
    width: 200px;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  nav ul li.connect .connect-block form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav ul li.connect .connect-block label {
    margin-bottom: 0.5em;
  }
  
  nav ul li.connect .connect-block select,
  nav ul li.connect .connect-block button {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
  }
  
  nav ul li.connect .connect-block select {
    width: 100%;
    border: 1px solid #38A169;
  }

  /* nav ul li.connect button {
    background-color: #48BB78;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    
  } */

  .button-container {
    display: flex;
  }
  
  .left-button {
    padding: 8px 20px 8px 0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  .right-button {
    padding: 8px 12px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .left-button, .right-button {
    font-size: 15px;
    background-color: transparent;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .left-button {
    margin-right: 0px;
  }
  
  .right-button {
    display: flex;
    align-items: center;
  }
  
  
  .left-button:hover, .right-button:hover {
    background-color: rgba(252, 184, 95, 0.3);
  }
  .right-button {
    position: relative;
    padding-right: 50px; /* adjust this value to create space for the image */
  }
  .left-button {
    position: relative;
    padding-left: 50px; /* adjust this value to create space for the image */
  }

  .left-button img {
    position: absolute;
    width: 13%;
    height: auto;
    transform: translateY(-70%);
  }
  
  .right-button img {
    position: absolute;
    width: 45%;
    height: auto;
    top: 50%;
    right: 20px; /* adjust this value to position the image */
    transform: translateY(-50%);
  }

  /******Drop Down Menu********/
  .button-container {
    position: relative;
  }
  
  
  .dropdown{
  position: absolute;
  margin-top: 3%;
  right: 0;
  top: 100%;
  background-color: white;
  border-radius: 15px;
  padding-top: 2%;
  list-style: none;
  display: flex;
  gap: 0px;
  flex-direction: column;
  width: 65%;
  height: auto;
  }
  .darkMode{
    background-color: rgb(76, 75, 75);
  }

  .darkMode li{
    color: white;
  }
  
  .dropdown li {
    padding-top:16px;
    padding-bottom:16px;
    position: relative;
    padding-left: 20%; 
    margin: 1px 5px;
    list-style: none;
    align-content: center;
    cursor: pointer;
    z-index: 1;
    animation: float 1s ease-in-out infinite;
  }
  
  .dropdown li:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  .dropdown .Toggle:hover {
    background-color:white;

  }

  .dropdown .ToggleDark:hover {
    background-color: rgb(76, 75, 75);

  }
  .dropdown li img {
    position: absolute;
    left: 4%;
    width: 12%;
    height: auto;
    transform: translateY(-75%);
  }
  /* .dropdown li .support {
    width: 16%;
  } */
  
  /********************/
  
  nav ul li.connect .connect-block button {
    background-color: #48BB78;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  nav ul li.connect .connect-block button:hover {
    background-color: #38A169;
  }

  /*******Toggle*********/

  /* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/***********************************************************/

  
  