.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    animation: popup-appear 0.3s forwards;
  }
  .popup-loading {
    background-color:none;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    animation: popup-appear 0.3s forwards;
  }
  
  .popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .popup-content {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  @keyframes popup-appear {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }



